@import '../../styles/media.scss';

.wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.input {
    width: 90%;
    height: 4vh;
    color: white;
    border: none;
    border-radius: 15px;
    background-color: #343344;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.label {
    font-size: 1.5em;
}

.input::placeholder {
    text-align: center;
}
