@import '../../styles/colorPalet.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #414055;
    box-shadow: inset 0px 4px 250px rgba(0, 0, 0, 0.25);
}
