.button {
    background: linear-gradient(
            179.57deg,
            #13141b 0.72%,
            rgba(17, 17, 17, 0.01) 66.76%
        ),
        #343344;
    border-radius: 10px;
    width: 105px;
    height: 60px;
    border: none;
    color: white;
}
